body {
    background-image: url('images.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f0f2f5;
}

.btn-custom {
    border-radius: 50px;
    width: 100px;
}